Repository nvaccess/nvda, pull requests merged in 2019-02, with the labels that each got.

#9237 Fix wrong brackets in DisplayModelTextInfo.boundingRects property
  source/displayModel.py
Labels: Display model, Text info, quick fix

#9211 Stop the Virtualbox>=5.2 main window from freezing
  source/NVDAObjects/IAccessible/qt.py
  user_docs/en/changes.t2t
Labels: Qt

#9249 Added support for Connect Braille and Basic Braille 84.
  source/bdDetect.py
  source/brailleDisplayDrivers/handyTech.py
  user_docs/en/changes.t2t
Labels: Braille display drivers, quick fix

#9326 Developer guide: change scriptHandler.script to script to resolve a namespace error
  developerGuide.t2t
Labels: Documentation, quick fix
