Repository nvaccess/nvda, pull requests merged in 2020-01, with the labels that each got.

#9269 Fix window point conversion functions not exposing failure
  source/NVDAObjects/IAccessible/MSHTML.py
  source/NVDAObjects/window/__init__.py
  source/NVDAObjects/window/edit.py
  source/displayModel.py
  source/locationHelper.py
  source/winUser.py
  source/windowUtils.py
Labels: BabbageWork

#10722 Fix vision dialog
  source/gui/settingsDialogs.py
  source/vision/visionHandler.py
  source/visionEnhancementProviders/NVDAHighlighter.py
Labels: NVDA GUI, Vision

#10713 Restore fetch of selected item in listboxes
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
Labels: Chrome, GoogleWork

#10703 Use enum for speech reason
  source/appModules/kindle.py
  source/browseMode.py
  source/controlTypes.py
  source/speech/__init__.py
  source/textInfos/__init__.py
  source/treeInterceptorHandler.py
Labels: Speech, deprecated/2021.1
