Repository nvaccess/nvda, pull requests merged in 2020-10, with the labels that each got.

#11765 Disable tree-grid system test
  tests/system/robot/chromeTests.robot
Labels: component/system-testing, maintenance

#11758 Fix typo in userGuide
  user_docs/en/userGuide.t2t
Labels: component/documentation

#11776 Fix system tests
  tests/system/libraries/ChromeLib.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/system/readme.md
  tests/system/robot/chromeTests.robot
Labels: component/system-testing

#10454 Support opening the Elements List dialog in focus mode (#10453)
  source/browseMode.py
Labels: enhancement

#11791 Rename CODE_OF_CONDUCT extension to lower case
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  readme.md
Labels: maintenance

#11788 System test interference
  tests/system/libraries/ChromeLib.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/system/robot/chromeTests.robot
Labels: component/system-testing
