Repository nvaccess/nvda, pull requests merged in 2023-01, with the labels that each got.

#14480 Cycle through reporting annotation target summaries with `nvda+d`
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/IAccessible/ia2Web.py
  source/NVDAObjects/IAccessible/mozilla.py
  source/NVDAObjects/__init__.py
  source/annotation.py
  source/globalCommands.py
Labels: blocked

#14503 Add Braille and Tones extension points to avoid monkey patching by API consumers
  source/braille.py
  source/brailleDisplayDrivers/alva.py
  source/brailleViewer/__init__.py
  source/extensionPoints/__init__.py
  source/inputCore.py
  source/nvwave.py
  source/speech/commands.py
  source/tones.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/unit/__init__.py
  tests/unit/extensionPointTestHelpers.py
  tests/unit/objectProvider.py
  tests/unit/test_braille.py
  tests/unit/test_inputCore.py
  tests/unit/test_nvwave.py
  tests/unit/test_tones.py
  user_docs/en/changes.t2t
Labels: api-breaking-change

#14481 Swap pkgutil.ImpImporter for importlib when loading custom modules from add-ons
  source/addonHandler/__init__.py
  source/addonHandler/packaging.py
  user_docs/en/changes.t2t
Labels: Addon/API, api-breaking-change

#14248 Lazily register for custom UIA properties and annotations
  source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/UIA/excel.py
  source/UIAHandler/customAnnotations.py
  source/UIAHandler/customProps.py
  user_docs/en/changes.t2t
Labels: api-breaking-change

#13045 Driver for Tivomatic Caiku Albatross 46/80 displays
  source/bdDetect.py
  source/brailleDisplayDrivers/albatross/__init__.py
  source/brailleDisplayDrivers/albatross/_threading.py
  source/brailleDisplayDrivers/albatross/constants.py
  source/brailleDisplayDrivers/albatross/driver.py
  source/brailleDisplayDrivers/albatross/gestures.py
  source/brailleDisplayDrivers/albatross/readme.md
  source/setup.py
  user_docs/en/changes.t2t
  user_docs/en/userGuide.t2t
Labels: blocked/needs-code-review, conceptApproved, blocked/needs-internal-fix
